.form {
	background-color: lightblue;
	border: 2px solid $black;
	border-radius: 4px;
	display: flex;
	flex-flow: column nowrap;
	width: 20rem;
	padding: 2rem;
	margin: auto;

	@include breakpoint(medium) {
		width: 28rem;
	}

	button {
		margin: .25rem;
		padding: .5rem;
		width: 5rem;
	}

	label {
		margin: .25rem;
	}

	input {
		margin: .25rem;
		padding: .5rem 1rem;
	}
}